.App {
  scrollbar-width: 3px;
  background-image: url("https://www.itl.cat/pngfile/big/301-3013670_photo-wallpaper-desktop-white-wood-wallpapers-wood-wallpaper.jpg");
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.App_Body{
  height: 100vh;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.App_Footer{
  background-color: rgb(56, 56, 56);
  color: white;
  min-height: 4vh;
  border-top: 3px black solid;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: rgb(172, 171, 169);
}

::-webkit-scrollbar-thumb {
  background: rgb(73, 71, 66);
  border-radius: 10px;
}